
@using toupiao.Areas.zvote.Models
@model IEnumerable<toupiao.Areas.zvote.Models.ZVoteItem>

@{
    ViewData["Title"] = "Index";
    var _zVote = Model.FirstOrDefault().ZVote;
    var _zUserVotes = ViewData["ZUserVote"] as List<ZUserVote>;
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-Id="@(ViewData["ZVoteId"])">添加新投票项</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.Id)" 
                style="background-color:
                    @(_zUserVotes.Any(p=>p.ZVoteItemId == item.Id)?
                        "rgb(255,0,255)":"")">
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a class="vote-now" data-vote_item_id="@(item.Id)">投票</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{

    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).on('click', '.vote-now', (event) => {
            var vote_item_id = $(event.currentTarget).data('vote_item_id');
            $.get(
                '../UserVote/' + vote_item_id,
                (data, status) => {
                    if (status == "success") {
                        $('.' + vote_item_id).css({
                            "background-color":
                                data == 1 ? "rgb(255, 0, 255)": "" 
                        });
                    }

                });
        });
    </script>
}