@model toupiao.Areas.zvote.Models.ZVote

@{
    ViewData["Title"] = "Delete";
}



<h3>确定删除吗？</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOCreating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOCreating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOEnd)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="确定" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>

@section Scripts
{

    <partial name="_ValidationScriptsPartial" />
}