@model toupiao.Areas.zvote.Models.ZVote
@using toupiao.Areas.zvote.Models

@{
    ViewData["Title"] = "Details";
    var zUserVotes = ViewData["zUserVotes"] as List<ZUserVote>;
    var userId = ViewData["userId"]?.ToString() ?? "";
    var IsAllowVote = (Model.DOStart <= DateTimeOffset.Now) &&
        (DateTimeOffset.Now < Model.DOEnd);
}

<div class="col col-12 text-center" >
    <h1>

        @Html.DisplayFor(model => model.Title)

    </h1>
</div>
<h5>
    @(
        Model.DOEnd < DateTimeOffset.Now ? "投票结束":
        Model.DOStart <= DateTimeOffset.Now?
            "参与投票!":"投票未开始"
    )
</h5>

<div class="col col-12 text-center">
    <h6>
        投票开始于  @(Model.DOStart.Value.LocalDateTime.ToLongDateString())
             结束于 @( Model.DOEnd.LocalDateTime.ToLongDateString()   ) 
    </h6>
</div>


<hr />
<h5>@Model.Description</h5>
<hr />
@if (Model.CoverPath?.Length > 1)
{


    <div class="col col-12 text-center">
        <img src="@( Url.Action("GetFile","Public", 
            new { FileName = Model.CoverPath , area="" }) )" 
             style="max-width:50%" 
             class="" />
    </div>

}

<hr/>
<div>
    <div class="row">

            <div class="col col-6">


                <dl class="row">
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.XuanxiangA)
                        <span class="text-info text-lg">
                            (已投@(
                            zUserVotes.Where(p=>p.VoteItem =="A").Count() )票)
                        </span>
                    </dd>
                    @if (IsAllowVote)
                    {
                        <dt class="col-sm-2">
                            <a class="btn btn-info vote-now" data-id="@Model.Id"
                               data-item="A">
                                @( zUserVotes.Any(
                p => p.VoterId == userId && p.VoteItem == "A") ?
                "已投" : "投票" )
                            </a>
                        </dt>
                    }
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.XuanxiangB)
                            <span class="text-info text-lg">
                                (已投@(
                            zUserVotes.Where(p=>p.VoteItem =="B").Count() )票)
                            </span>
                        </dd>
                        @if (IsAllowVote)
                        {
                            <dt class="col-sm-2">
                                <a class="btn btn-info vote-now" data-id="@Model.Id"
                                   data-item="B">
                                    @( zUserVotes.Any(
                            p => p.VoterId == userId && p.VoteItem == "B") ?
                            "已投" : "投票" )
                                </a>
                            </dt>
                        }
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.XuanxiangC)

                            <span class="text-info text-lg">
                                (已投@(
                            zUserVotes.Where(p=>p.VoteItem =="C").Count() )票)
                            </span>
                        </dd>
                        @if (IsAllowVote)
                        {
                            <dt class="col-sm-2">
                                <a class="btn btn-info vote-now" data-id="@Model.Id"
                                   data-item="C">
                                    @( zUserVotes.Any(
                        p => p.VoterId == userId && p.VoteItem == "C") ?
                        "已投" : "投票" )
                                </a>
                            </dt>
                        }
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.XuanxiangD)
                            <span class="text-info text-lg">
                                (已投@(
                            zUserVotes.Where(p=>p.VoteItem =="D").Count() )票)
                            </span>
                        </dd>
                        @if (IsAllowVote)
                        {
                            <dt class="col-sm-2">
                                <a class="btn btn-info vote-now" data-id="@Model.Id"
                                   data-item="D">
                                    @( zUserVotes.Any(
                    p => p.VoterId == userId && p.VoteItem == "D") ?
                    "已投" : "投票" )
                                </a>
                            </dt>
                        }
                    </dl>
        
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-danger">返回</a>

    @if (Model.Submitter == User.Identity)
    {

        <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.Id">
            编辑</a>
    }

</div>




@section Scripts
{

    <partial name="_ValidationScriptsPartial" />
<script>
    $(document).on('click', '.vote-now', (event) => {
        var _id = $(event.currentTarget).data('id');
        var _item = $(event.currentTarget).data('item');
        $.get(`@( Url.Action("VoteNow","ZVote") )?id=${_id}&item=${_item}`,
            (data, status) => {
                if (status == "success") {
                    if (data == 3) {
                        zlalert(
                            "哎呀!每天只能投@( ViewData["MaxVoteTimesPer24"] )票哦!")
                    }
                    else {
                        zlalert('投票成功', 'info');
                        setTimeout(() => {
                            location.reload();
                        }, 5000);
                    }
                }
            });
    });
</script>
}
