@model toupiao.Areas.zvote.Models.ZVote

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZVote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOCreating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOCreating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSaveOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSaveOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
