@model IEnumerable<toupiao.Areas.zvote.Models.ZVote>

@{
    ViewData["Title"] = "Index";
}

<h1>你的所有的投票</h1>

<p>
    <a asp-action="Create">新的投票</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSaveOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOCreating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSaveOnly)
                </td>
                <td>
                    @( Model.First().ItemTypes
                    .FirstOrDefault(p => p.Value == item.ItemType).Text)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">更改</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">查看</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{

    <partial name="_ValidationScriptsPartial" />
}