
@using toupiao.Controllers
@model PaginatedList<toupiao.Areas.zvote.Models.ZVote>


@{
    ViewData["Title"] = "Index";
}

<h1>你的所有的投票</h1>

<p>
    <a asp-action="Create">新的投票</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>标题</th>
            <th>投票开始</th>
            <th>投票截止</th>
            <th>仅保存</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @(item.DOCreating.LocalDateTime)
                </td>
                <td>
                    @( item.DOStart?.LocalDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSaveOnly)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">更改</a> |
                    <a asp-action="Details"  asp-route-id="@item.Id">查看</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PaginatedList"/>

@section Scripts
{

    <partial name="_ValidationScriptsPartial" />
}