

@using toupiao.Controllers
@model PaginatedList<toupiao.Areas.zvote.Models.ZVote>

@{
    ViewData["Title"] = "Index";

}

<h1>投票审核</h1>


<div class="col col-3 float-right">
    <partial name="_IndexSearch" />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                标题
            </th>
            <th>创建时间
            </th>
            <th>
                开始时间
            </th>
            <th>
                结束时间
            </th>

            <th>描述
            </th>
            <th>选项A
            </th>
            <th>
                选项B
            </th>
            <th>
                选项C
            </th>
            <th>
                选项D
            </th>
            <th>
                审核
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item.Title)
                </td>
                <td>                   
                    @(item.DOCreating.LocalDateTime)
                </td>
                <td>
                    @(item.DOStart?.LocalDateTime.Date.ToShortDateString())
                </td>
                <td>
                    @( item.DOEnd.Date.ToShortDateString())
                </td>

                <td>
                    @(item.Description)
                </td>
                <td>
                    @(item.XuanxiangA)
                </td>
                <td>
                    @(item.XuanxiangB)
                </td>
                <td>
                    @(item.XuanxiangC)
                </td>
                <td>
                    @(item.XuanxiangD)
                </td>
                <td>
                    @(item.IsLegal?"通过":"未通过")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">审核</a> |
                    

                </td>
            </tr>
        }
    </tbody>
</table>


<partial name="_PaginatedList" />